* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
}

#hud {
  position: absolute;
  z-index: 1000;
}

#playground {
  display: none;
}

.hide-map {
  display: none;
}

.map-svg {
  overflow: hidden;
  position: absolute;
  z-index: 100;
}

.text-node {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.key-field ~ .text-node {
  color: white;
}

#hiddenSpriteSheet {
  display: none;
  position: absolute;
  z-index: -1000;
}

.boss-lock-image {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.lock-image {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  mix-blend-mode: multiply;
}

.key-image {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  mix-blend-mode: screen;
}

.boss-image { }

.node-hover-overlay {
  display: none;
}

.node-hover-overlay.show {
  display: block;
}

#lock_template {
  display: none;
}
#key_template {
  display: none;
}
#goal_template {
  display: none;
}
#unreq_template {
  display: none;
}
#junction_template {
  display: none;
}
#arrow_up_template {
  display: none;
}
#arrow_down_template {
  display: none;
}
#arrow_left_template {
  display: none;
}
#arrow_right_template {
  display: none;
}
#grid_line_h_left_template {
  display: none;
}
#grid_line_h_right_template {
  display: none;
}
#grid_line_v_up_template {
  display: none;
}
#grid_line_v_down_template {
  display: none;
}